<div id="header">
    <ul>
        <li><a href="/"><b>Splytr</b></a></li>
        <li><a>|</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/house">My House</a></li>
    </ul>
</div>